<template>
  <div id="app">
    <h1>Jeu du Tic Tac Toe</h1>
    <div class="hero">
      <td v-for="(elt, o) in tictactoe" :key="o">
        <tr v-for="(e, i) in elt" :key="i">
          <td @click="checkGame(o, i)" id="tictactoe">{{ e }}</td>
        </tr>
      </td>
    </div>
    <p id='error'>{{ this.error }} </p>
    <label v-if="this.partie == false">Jouer une nouvelle partie ? (O/N) 
      <input type='text' id="new" :value="val" @input="checkNewGame"/>
    </label>
    <p>
      Au tour du joueur :
      <strong>{{ this.player }}</strong>. Cliques sur une case vide
    </p>
    <h2>Scores</h2>
    <p>Joueur 1 (X) : {{ scoreJ1 }} -- Joueur 2 (O): {{ scoreJ2 }} -- match null: {{ matchNull }}</p>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      partie: true,
      tictactoeInit: new Array(["", "", ""],
        ["", "", ""],
        ["", "", ""]),
      tictactoe: [["", "", ""],
        ["", "", ""],
        ["", "", ""]],
      result: "",
      player: 1,
      scoreJ1: 0,
      scoreJ2: 0,
      matchNull: 0,
      val1: "X",
      val2: "O",
      counter: 0,
      error: '',
      val:''
    };
  },
  methods: {
    checkGame(id1, id2) {
      this.result = event.target.innerHTML;
      if(this.partie){
        if (!this.result) {
          this.error = '';
          // add X or O in the case
          this.addElement();
          this.tictactoe[id1][id2] = this.result;
          // check the cases
          this.checkGain();
        } else {
          this.error = 'Case déjà cochée !';
        } 
      } else {
         this.error = 'Partie terminée !';
      }
    },
    addElement() {
      this.changeUser();
      event.target.innerHTML = this.result;
    },
    changeUser() {
      if (this.player === 1) {
        this.result = "X";
        this.player = 2;
      } else {
        this.result = "O";
        this.player = 1;
      }
    },
    checkGain() {
      let c = this.tictactoe;
      if (
        (c[0][0] == "X" && c[0][1] == "X" && c[0][2] == "X") ||
        (c[0][0] == "X" && c[1][0] == "X" && c[2][0] == "X") ||
        (c[0][0] == "X" && c[1][1] == "X" && c[2][2] == "X") ||
        (c[0][2] == "X" && c[1][2] == "X" && c[2][2] == "X") ||
        (c[2][0] == "X" && c[2][1] == "X" && c[2][2] == "X") ||
        (c[0][2] == "X" && c[1][1] == "X" && c[2][0] == "X") ||
        (c[1][0] == "X" && c[1][1] == "X" && c[1][2] == "X") ||
        (c[0][1] == "X" && c[1][1] == "X" && c[2][1] == "X")
      ) {
        this.scoreJ1++;
        this.partie = false;
      } else if (
        (c[0][0] == "O" && c[0][1] == "O" && c[0][2] == "O") ||
        (c[0][0] == "O" && c[1][0] == "O" && c[2][0] == "O") ||
        (c[0][0] == "O" && c[1][1] == "O" && c[2][2] == "O") ||
        (c[0][2] == "O" && c[1][2] == "O" && c[2][2] == "O") ||
        (c[2][0] == "O" && c[2][1] == "O" && c[2][2] == "O") ||
        (c[0][2] == "O" && c[1][1] == "O" && c[2][0] == "O") ||
        (c[1][0] == "O" && c[1][1] == "O" && c[1][2] == "O") ||
        (c[0][1] == "O" && c[1][1] == "O" && c[2][1] == "O")
      ) {
        this.scoreJ2++;
        this.partie = false;
      } else if (
        c[0][0] !== "" &&
        c[0][1] !== "" &&
        c[0][2] !== "" &&
        c[1][0] !== "" &&
        c[1][1] !== "" &&
        c[1][2] !== "" &&
        c[2][0] !== "" &&
        c[2][1] !== "" &&
        c[2][2] !== ""
      ) {
        this.matchNull++;
        this.partie = false;
      }
    },
    checkNewGame(e) {
      if(e.data === 'o' || e.data === 'O') {
        this.error= '';
        // refresh the page to init the array !
        window.location.reload()
      } else if (e.data === 'n' || e.data === 'N') {
        this.error= '';
        this.partie = false;
      } else {
        this.error = 'erreur';
      }
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#tictactoe {
  border: 0.5px solid grey;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 35px;
}
.hero {
  display: inline-flex;
}
#error{
  color: red;
}
</style>
